name: Test

on:
  pull_request:
    branches:
      - master
      - development

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install modules
        run: yarn

      - name: Run ESLint
        run: yarn run check
